main {
    display: flex;
    max-width: 980px;
    margin: auto;
    
    section.feed {
        width: 70%;
        margin-right: 20px;
        background: rgb(210, 210, 248);
    }

    aside.lateral-nav {
        width: 30%;
        background: rgb(255, 164, 164);
    }
}