<div class="author-header">
    <div class="author-photo">
        <img src="{{post.author.profileAvatar}}" alt="">
    </div>
    <span class="author-name">{{post.author.nickname}}</span>
    <div class="etc"></div>
</div>
<div class="media">
    <img src="{{post.data.media}}" alt="">
</div>
<div class="footer">
    <div class="links-container">
        <a href="">Favorite</a>
        <a href="">Comment</a>
        <a href="">Share</a>
    </div>
    <div class="post-text">
        <app-description></app-description>
    </div>
</div>